services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    working_dir: /app
    volumes:
      - .:/app
      - /mnt/d/NVR/:/data
      - /app/frontend/node_modules
      - /app/frontend/dist
    command: deno run --allow-net --allow-read --allow-write --allow-run --watch --allow-env backend/main.ts
    ports:
      - "8000:8000"
    environment:
      - DATA_DIR=/data
      - WORKER_URL=http://worker:5000
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.app
    working_dir: /app/frontend
    volumes:
      - .:/app
    command: deno run --unstable-no-legacy-abort -A npm:vite --host
    ports:
      - "5173:5173"
    depends_on:
      - app
    restart: unless-stopped

  worker:
    build: ./worker
    volumes:
      - /mnt/d/NVR/:/data
    environment:
      - DATA_DIR=/data
    ports:
      - "5000:5000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  tests:
    image: mcr.microsoft.com/playwright:v1.50.1-noble
    working_dir: /app/tests
    volumes:
      - .:/app
    depends_on:
      - app
      - frontend
    ipc: host
    command: sh -c "npm install && tail -f /dev/null"

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /mnt/d/NVR/:/data:ro
    depends_on:
      - app
      - frontend
    restart: unless-stopped
